BODY {
    image-border-collapse: collapse;
    background-repeat: repeat;
    font-family: "Comic Sans MS";
}

section {
    color: #fff;
    font-size: 16px;
    padding: 5px;
}

div {
    color: #fff;
    font-size: 16px;
}


H1 {
    color: #fff;
    margin-right: 20%;
    margin-left: 20%;
}
H2{
    padding: 5px;
}
.tdUp{
    text-align: left;
    background: #FFFFFF;
    width: 200px;
    vertical-align: top;
    font-family: Verdana, serif;
    color: #000000;
    font-size: 14px;
}

.tdLow {
    text-align: left;
    background: #333333;
    width: 200px;
    vertical-align: top;
    font-family: Verdana, serif;
    color: #000000;
    font-size: 14px;
}

.table{
    margin-right: 10%;
    margin-left: 10%;
    font-family: Georgia;
}

.transparent{
    background-color: #ffffff;
    opacity: .0;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:visited {
    color: #fcf97a;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    text-decoration: none;
}
a:active {
    color: #fcf97a;
    text-decoration: none;
}

ADDRESS {
    color: #fff;
    text-align: right;
    margin-right: 20%;
    padding-bottom: 15px;
    font-size: 20px;
}
/* The sidebar menu */
.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.head{
    margin-right: 20%;
    margin-left: 20%;
    text-align: justify;
    background: rgba(0, 0, 0, 0.7);
    border-style: groove;
    border-width: 2px;

}
#head{
    font-family: "Arial Black", serif;
    font-size: 25px;
    color: #FCF97AFF;
}
/*.container содержимое контейнера по вкладкам */
.container > div {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10px;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    background: rgba(0, 0, 0, 0.7);
    border-style: groove;
    border-width: 2px;
}

/*.flex панелька с кнопками */
.flex {
    display: -webkit-box; display: -ms-flexbox; display: flex;
    background: #1f1f1f;
    margin-right: 20%;
    margin-left: 20%;
}
html, body, .wrap { height: 100%; line-height: 1;}
.wrap {
    position: relative; margin: 0 auto; padding-top: 50px;}

/* tabsmenu */
.tabsmenu {
    margin-bottom: -1px;margin-top: 10px}
.tabsmenu li { width: 32%; height: 25px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 16px; color: #fff; -webkit-user-select:none; user-select:none; cursor: pointer; }
.tabsmenu .active { color: #fff; background: #404448; border-radius: 5px 5px 5px 5px; cursor: default; }
.container > div {
    margin-bottom: 50px; padding: 20px; }
