BODY {
    background-image: url(midwest.jpeg);
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
}
table{
    color: #fff;
    padding: 5px;
    font-size: 20px;
}

div {
    /*background: rgba(101, 109, 74, 0.8);*/
    color: #fff;
    padding: 5px;
    font-size: 20px;
    align: "justify";
}

H1 {
    background: rgba(51, 61, 41, 1);
    color: #fff;
}

ADDRESS {
    color: #fff;
}
/* The sidebar menu */
iframe {
    position: page;
    frameborder: "0" ;
    border: 0px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 500px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.container > div {
    margin-bottom: 50px;
    padding: 20px;
    border: solid 1px #3b99fc;
    border-radius: 0 5px 5px 5px;
}


.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
html, body, .wrap { height: 100%; line-height: 1; }
.wrap { width: 1024px; position: relative; margin: 0 auto; padding-top: 50px; }

/* tabsmenu */
.tabsmenu { margin-bottom: -1px;
margin-top: 200px}
.tabsmenu li { width: 100px; height: 25px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 15px; color: #333; -webkit-user-select:none; user-select:none; cursor: pointer; }
.tabsmenu .active { color: #fff; background: #3b99fc; border-radius: 5px 5px 0 0; cursor: default; }
.container > div { margin-bottom: 50px; padding: 20px; border: solid 1px #3b99fc; border-radius: 0 3px 3px 3px; }
